<!-- Home 으로 ! 
밑에 카테고리들과같은 class 인데 왜 같은 폰트로 출력이안될까 ..?-->

<nav class="sidebar-nav">
  <a class="main-category-name" href="{{ '/' | absolute_url }}">Home</a>
</nav>

<!-- CodingTest 카테고리 -->
<div>
  <div class="main-category-name">CodingTest</div>
  <nav class="content-ul">
    {% for category in site.categories %}
      {% if category[0] == "Programmers" or
            category[0] == "dasdasd"%}
      <a href="{{ root_url }}/{{ site.category_dir }}{{ category | first }}"
        class="sidebar-nav-item pl-3rem">
                            <span class="sub-category-name">
                                {{ category | first }}
                            </span>
        <span class="badge">{{ category | last | size }}</span>
      </a>
      {% endif %}
    {% endfor %}
  </nav>
</div>

<!-- Dev 카테고리 -->

<div>
  <div class="main-category-name">Dev</div>
  <nav class="content-ul">
    {% for category in site.categories %}
      {% if category[0] == "Project" or
            category[0] == "GitHubPage"%}
      <a href="{{ root_url }}/{{ site.category_dir }}{{ category | first }}"
        class="sidebar-nav-item pl-3rem">
                            <span class="sub-category-name">
                                {{ category | first }}
                            </span>
        <span class="badge">{{ category | last | size }}</span>
      </a>
      {% endif %}
    {% endfor %}
  </nav>
</div>

<div>
  <div class="main-category-name">Dev</div>
  <nav class="content-ul">
    {% for category in site.categories %}
      {% if category[0] == "Python" or
            category[0] == ">title<"%}
      <a href="{{ root_url }}/{{ site.category_dir }}{{ category | first }}"
        class="sidebar-nav-item pl-3rem">
                            <span class="sub-category-name">
                                {{ category | first }}
                            </span>
        <span class="badge">{{ category | last | size }}</span>
      </a>
      {% endif %}
    {% endfor %}
  </nav>
</div>