<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</br></br></br></br>
<!-- 직렬로된 레이아웃
<ul>

    <i class="fa fa-home fa-2x" aria-hidden="true">
        <a href="{{ site.url }}">Home</a>
    </i></br></br>

    <i class="fa fa-envelope-o fa-2x" aria-hidden="true">
        <a href="mailto:{{ site.author.email }}">E-mail</a>
    </i></br></br>

    <i class="fa fa-github fa-2x" aria-hidden="true">
        <a href="{{ site.author.github }}/">Github</a>
    </i></br></br>

    <i class="fa fa-rss-square fa-2x" aria-hidden="true">
        <a href="{{ site.baseurl }}/feed.xml">RSS</a>
    </i></br></br>

</ul>
-->
    <ul>
        <a href="{{ site.url }}">
            <i class="fa fa-home fa-2x author-icon" aria-hidden="true"></i>
        </a>

        <a href="mailto:{{ site.author.email }}">
            <i class="fa fa-envelope-o fa-2x author-icon" aria-hidden="true"></i>
        </a>

        <a href="{{ site.author.github }}/">
            <i class="fa fa-github fa-2x author-icon" aria-hidden="true"></i>
        </a>

        <a href="{{ site.baseurl }}/feed.xml">
            <i class="fa fa-rss-square fa-2x author-icon" aria-hidden="true"></i>
        </a>
    </ul>
