body {
  background-color: #fcdc29;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainMenu {
  width: 250px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.item {
  border-top: 1px solid #ef584a;
  overflow: hidden;
}

.btn {
  display: block;
  padding: 15px 20px;
  background-color: #ff6f61;
  color: #fff;
  position: relative;
}

.btn:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #ff6f61;
  right: 15px;
  bottom: -10px;
  z-index: 9;
}

.btn i {
  margin-right: 10px;
}

.subMenu {
  background: #273057;
  overflow: hidden;
  transition: max-height 0.7s;
  max-height: 0;
}

.subMenu a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #394c7f;
  position: relative;
}

.subMenu a:before {
  content: '';
  opacity: 0;
  transition: opacity 0.3s;
}

.subMenu a:hover:before {
  content: '';
  position: absolute;
  height: 0;
  width: 6px;
  left: 0;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-left: 11px solid #fcdc29;
  border-bottom: 24px solid transparent;
}

.subMenu a:after {
  content: '';
  opacity: 0;
  transition: opacity 0.3s;
}

.subMenu a:hover:after {
  content: '';
  position: absolute;
  height: 0;
  width: 6px;
  right: 0px;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-right: 11px solid #fcdc29;
  border-bottom: 24px solid transparent;
}

.subMenu a:hover {
  background: #273057;
  background: -moz-linear-gradient(top, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
  background: -webkit-linear-gradient(top, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
  background: linear-gradient(to bottom, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273057', endColorstr='#394c7f',GradientType=0 );
  transition: all 0.3s;
  border-bottom: 1px solid #394c7f;
}

.subMenu a:last-child {
  border: none;
}

.item:target .subMenu {
  max-height: 10em;
}
/* sidebar 레이아웃 */

.badge {
  display: block;
  float: right;
  text-align: center;
  margin-right: 15px;
  margin-top: 3px;
  padding: 0 10px;
  font-size: 12px;
  color: #000;
  background-color: #bbb;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.pl-3rem {
  padding-left: 3rem;
}

.sub-category-name {
  padding-left: 2rem;
  font-size: 17px;
  font-family: 'Jua', serif;
}

.main-category-name {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
  padding-left: 2rem;
  font-family: Georgia, Serif;
  font-size: 20px;
  //font-weight: bold;
  font-family: 'Jua', serif;
  color: rgb(255, 216, 0);
}

/*날짜 폰트*/
.font-date {
  //display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 14px;
  font-family: 'Jua', serif;
}

//머지?
.font-basic {
  margin-top: -.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
  font-family: 'Noto Serif KR', serif;
}

//sorry 메시지폰트  하단
.font-message {
  font-size: 30px;
  font-family: 'Nanum Pen Script', serif;
}

//home 메시지(초기화면) 홈에사용
.home-message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: 'Nanum Pen Script', serif;
}

//포스트 상단 메시지
.post-message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
  font-size: 20px;
  font-family: 'Jua', serif;
}



//기본 post 내용 폰트

.post-contents {
  font-family : 'Noto Serif KR', serif;
  line-height : 33px;

  h1 {
    font-family: 'Jua', serif;
  }

  h2 {
    margin: 100px 0px 50px 0px;
    padding-bottom: 10px;
    font-family: 'Jua', serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 2.0px solid rgb(238, 238, 238);
  }

  h3 {
    margin : 50px 0px 25px 0px;
    font-family: 'Jua', serif;
  }

  h4 {
    font-family: 'Jua', serif;
  }

  h5 {
    font-family: 'Jua', serif;
  }

  h6 {
    font-family: 'Jua', serif;
  }
}

.post-contents h2 {
  margin: 100px 0px 50px 0px;
  padding-bottom: 10px;
  font-family: 'Jua', serif;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 2.0px solid rgb(238, 238, 238);
}

.post-contents h3 {
  margin: 50px 0px 25px 0px;
  font-family: 'Jua', serif;
}

.post-contents code { // markdown `` 강조 코드
  font-family : 'Noto Serif KR', sans-serif;
  word-spacing : 3px;
}


  //기본폰트
.font-Noto_Serif_KR {
  font-family: 'Noto Serif KR', serif;
}

.font-Jua {
  font-family: 'Jua', serif;
}

.font-Nanum_Pen_Script {
  font-family: 'Nanum Pen Script', serif;
}
  // copyright 1
#p1 {
  font-family: "Verdana";
  font-size: 15px;
   font-style: italic
}
  // copyright 2
#p2 {
  font-family: "Garamond"
}
  /*icon?*/
.element {
  position: relative;
}

.element:before {
  content: "\f000";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}

.me {
  width: 6.5rem;
  height: 6.5rem;
  align-self: center;
  margin-right: 20px;
  border-radius: 100%;
  position: relative;
}

.card {
  width: 100%;
  height: 100vh;
  background-image: url("image-url");
  background-size: cover; // 사이즈가 container에 맞지 않아도 꽉 차도록 채운다.
  background-position: center; // background-image가 컨테이너에 가운데로 오도록 한다.
}
  //sidebar -author icon 설정
.author-icon {
  margin: 10px;
}

.sidebar__right {
  width: 100px;
  margin-right: -400px;
  float: right;
}

.toc {
  background-color: #ffffff;
  border-radius: 40px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  box-shadow: 0 2px 5px rgb(255, 106, 30);
  width: 100%;
  font-size: 1em;
  position: fixed;
  font-family: 'Jua', serif;

    ul {
      margin: 0;
      padding: 10px;
      list-style: none;
    }

    li {
      padding: 10px 10px;
    }
  }

  //``` codeblock의 박스
